<!-- Footer -->
<footer>
  <!-- Navigazione del footer -->
  <nav class="footer-nav">
    <!-- Link alla homepage -->
    <div class="home">
      <a href="homepage.php">
        <img class="home-icon" src="./../assets/icons/home.svg" alt="home-icon">
      </a>
    </div>
    <!-- Link alla pagina di ricerca -->
    <div class="search">
      <a href="search.php">
        <img class="search-icon" src="./../assets/icons/search.svg" alt="search-icon">
      </a>
    </div>
    <!-- Link alla pagina di creazione di un'attività -->
    <div class="create">
      <a href="check.php">
        <img class="create-activity-icon" src="./../assets/icons/add.svg" alt="create-activity-icon">
      </a>
    </div>
    <!-- Link alla pagina del profilo -->
    <div class="profile">
      <a href="profilepage.php">
        <img class="profile-icon" src="./../assets/icons/profile.svg" alt="profile-icon">
      </a>
    </div>
  </nav>
</footer>