body {
  display: flex;
  justify-content: center;
  font-family: "Roboto", sans-serif;
  margin-bottom: 100px;
}

main {
  margin-top: 150px; /* Aggiungi spazio sopra il main */
  display: flex;
  flex-direction: column; /* Imposta la direzione dei figli in verticale */
  align-items: center; /* Centra in verticale */
  justify-content: center; /* Centra in orizzontale */
  min-height: calc(100vh - 250px); /* Altezza minima pari all'altezza della finestra del browser meno l'altezza del footer e del margine superiore del main */
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}
