body {
    display: flex;
    justify-content: center;
    font-family: "Roboto", sans-serif;
    margin-bottom: 100px;
}

main {
    margin-top: 100px;
}

/* Stile del contenitore circolare */
.circular-square {
    width: 150px; /* Larghezza del contenitore */
    height: 150px; /* Altezza del contenitore */
    display: flex; /* Usa il layout flessibile */
    justify-content: center; /* Centra orizzontalmente */
    align-items: center; /* Centra verticalmente */
    margin-bottom: 20px; /* Aggiungi uno spazio inferiore */
}

/* Stile dell'immagine circolare */
.circular-square img {
    width: 100%; /* Larghezza dell'immagine al 100% del contenitore */
    height: 100%; /* Altezza dell'immagine al 100% del contenitore */
    border-radius: 50%; /* Applica un bordo circolare */
    object-fit: cover; /* Scala e ritaglia l'immagine per adattarsi al cerchio */
}

/* Stile del nome del profilo */
.profile-name {
    text-align: center; /* Allinea il testo al centro */
    margin-top: 10px; /* Spazio superiore dal testo all'immagine */
    font-weight: 700;
    font-size: 30px; /* Dimensione del testo */
}

/* Stile del bottone "Check" */
.check-btn {
    height: 50px;
    max-width: 350px; /* Larghezza massima del bottone */
    border-radius: 10px;
    border: 1px solid rgb(2, 150, 100);
    background-color: rgb(2, 150, 100);
    color: white;
    font-size: 24px;
    cursor: pointer;
}

.buttons-container {
    display: flex;
    justify-content: center;
    align-items: center;
}



.buttons-container button {
    margin: 0 5px; /* Aggiungi un margine tra i bottoni */
}

