body {
    display: flex;
    justify-content: center;
    font-family: "Roboto", sans-serif;
    margin-bottom: 100px;
}
  
main {
    margin-top: 100px;
}
  
.circular-square {
    border-top-left-radius: 50% 50%;
    border-top-right-radius: 50% 50%;
    border-bottom-right-radius: 50% 50%;
    border-bottom-left-radius: 50% 50%;
}

.circular-square img {
    width: 150px; /* Imposta la larghezza desiderata */
    height: 150px; /* Imposta l'altezza desiderata */
}

/* Stile del nome del profilo */
.profile-name {
    text-align: center; /* Allinea il testo al centro */
    margin-top: 10px; /* Spazio superiore dal testo all'immagine */
    font-weight: 700;
    font-size: 30px; /* Dimensione del testo */
}



