<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Components</title>
  <link rel="stylesheet" href="./styles/components.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">
</head>
<body>
  <div class="buttons-container">
    <!--Button-->
    <!--Variante: color full-->
    <input class="full-btn" type="submit" id="" value="Button">
    <!--Variante: color border-->
    <button class="border-btn" id="">Button</button>
  </div>

  <div class="space"></div>

  <div class="data-input-container">
    <!--Email-->
    <div class="email">
      <label class="email-label" for="email">Email</label>
      <input class="email-txt" type="email" id="email" name="email" placeholder="mario.rossi@gmail.com" required>
    </div>
    <!--Password-->
    <div class="password">
      <label class="password-label" for="password">Password</label>
      <input class="password-txt" type="password" id="password" name="password" required>
    </div>
    <!--Generic-->
    <div class="generic">
      <label class="generic-label" for="generic">Generic</label>
      <input class="generic-txt" type="generic" id="generic" name="generic" placeholder="mario" required>
    </div>
    <!--Select-->
    <div class="select-container">
      <label class="generic-label" for="generic">Select</label>
      <select class="select" id="select">
        <option class="option-select" value="" selected disabled>Scegli un'attività</option>
        <option class="option-select" value="rosso">Rosso</option>
        <option class="option-select" value="verde">Verde</option>
        <option class="option-select" value="blu">Blu</option>
        <option class="option-select" value="giallo">Giallo</option>
      </select>
    </div>
  </div>
  
  <div class="space"></div>

  <!--Paragraph-->
  <!--Variante: 1 - w: 400-->
  <p class="paragraph-400">Questa è una label - font weight 400</p>
  <!--Variante: 1 - w: 450-->
  <p class="paragraph-450">Questa è una label - font weight 450</p>

</body>
</html>