<footer>
  <nav class="footer-nav">
    <div class="home">
      <a href=""> 
        <img class="home-icon" src="./../assets/icons/home.svg" alt="home-icon">
      </a>
    </div>
    <div class="search">
      <a href="">
        <img class="search-icon" src="./../assets/icons/search.svg" alt="search-icon">
      </a>
    </div>
    <div class="create">
      <a href="">
        <img class="create-activity-icon" src="./../assets/icons/add.svg" alt="create-activity-icon">
      </a>
    </div>
    <div class="profile">
      <a href="">
        <img class="profile-icon" src="./../assets/icons/profile.svg" alt="profile-icon">
      </a>
    </div>
  </nav>
</footer>